<table border="1">
  <tr>
  <th>Title</th>
    <th>Price</th>
  </tr>
<div class="listing">
      <% @products.each do |product| %>
        <div>
     <tr> <td><%= product.title %> </td>
           <td> <%= product.price %>  </td></tr>
        </div>
     <% end %>
</div>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= will_paginate @products %>